.slider_wrapper {
    position: relative;
    width: 100%;
    border-radius: 20px;
    transition: transform 0.4s ease-in-out;
    max-width: 424px;
    overflow: hidden;
}


.slider_wrapper:hover .img_drone {
    transform: scale(1.05);
}

.slider_wrapper:hover .arrow_wrapper {
    background-color: #101828;
    fill: #ffffff;
}

.arrow_wrapper {
    position: absolute;
    top: 30px;
    right: 30px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left: auto;
    fill: #1E1E1E;
    transition: background-color 0.4s ease-in-out, fill 0.4s ease-in-out;
}

@media screen and (min-width:1440px) {
    .arrow_wrapper {
        width: 48px;
        height: 48px;
    }
}

.arrow {
    width: 20px;
    height: 20px;
}

.drone_title {
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    transition: transform 0.4s ease-in-out
}

.slider_wrapper:hover .drone_title {
    transform: scale(1.05);
}

.img_drone {
    border-radius: 20px;
    transition: transform 0.4s ease-in-out;
    object-fit: cover;
    object-position: center;
}
