.section_customize_title {
    font-weight: 400;
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
    color: #101828;
    margin-bottom: 16px;
    position: relative;
}

@media screen and (min-width: 1440px) {
    .section_customize_title {
        font-size: 64px;
        max-width: 809px;
        margin: 0 auto 20px auto;
    }
}

.circle {
    position: absolute;
    width: 1368px;
    height: 1368px;
    border-radius: 50%;
    top: 177px;
    left: -116px;
    background-image: url("../../assets/customize-drone/backgroung-vector.svg");
    background-size: cover;
    background-repeat: no-repeat;
}


.accent_color {
    border: 1px solid #bafc50;
    border-radius: 70px;
    padding: 4px;
}

.text_under_title {
    font-size: 18px;
    text-align: center;
    color: #475467;
    margin-bottom: 40px;
}

@media screen and (min-width: 1440px) {
    .text_under_title {
        font-size: 24px;
        max-width: 600px;
        margin: 0 auto 60px auto;
    }

    .text_under_swiper {
        font-size: 24px;
        text-align: center;
        color: #475467;
        margin-bottom: 35px;
    }
}

.customize_drone_section {
    padding: 64px 16px;
}

@media screen and (min-width: 1440px) {
    .customize_drone_section {
        padding: 96px 151px 96px 152px;
    }
}

.container {
    max-width: 343px;
    margin: 0 auto;
    position: relative;
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1138px;
    }
}

.drone_background {
    position: relative;
    width: 343px;
    height: 343px;
    margin-bottom: 20px;
    border-radius: 50%;
    padding: 11px;
}

@media screen and (min-width: 1440px) {
    .drone_background {
        width: 1137px;
        height: 1138px;
        margin-bottom: 60px;
        padding: 0;
    }
}

@media screen and (min-width: 1440px) {
    .drone_background_wrapper {
        padding: 104px 103px 103px 104px;
        width: 100%;
        border-radius: 50%;
        margin: 0 auto;
        overflow: hidden;
    }
}

.liddar_background {
    background-color: #EAECF0;
}

.agro_background {
    background: linear-gradient(90deg, #f9fafb 0%, #deecdd 100%);

}

@media screen and (min-width: 1440px) {
    .drone_info_wrapper {
        width: 931px;
        height: 931px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 50%;
    }
}

.drone_title_wrapper {
    margin-bottom: 20px;

}

.drone_title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
    color: #101828;
    text-align: center;
}

@media screen and (min-width: 1440px) {
    .drone_title {
        margin-top: 26px;
        font-size: 32px;
    }
}


.equipment {
    font-weight: 400;
    font-size: 14px;
    color: #101828;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 20px;
}

@media screen and (min-width: 1440px) {
    .equipment {
        font-size: 14px;
    }
}

.drone_img {
    width: 321px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (min-width: 1440px) {
    .drone_img {
        width: 930px;
    }
}

.cost_info {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin-bottom: 17px;
}

@media screen and (min-width: 1440px) {
    .cost_info {
        border-radius: 50px;
        padding: 10px 10px 10px 30px;
        width: 517px;
        height: 78px;
        backdrop-filter: blur(10.300000190734863px);
        background-color: rgba(255, 255, 255, 0.54);
        margin-bottom: 27px;
        flex-direction: row;
        margin-bottom: 27px;
    }
}

.total_cost {
    font-weight: 500;
    line-height: 2.375;
    color: #121212;
}

.cost_value {
    font-weight: 500;
    line-height: 2.375;
    color: #121212;
    border-radius: 30px;
    padding: 0px 35px;
    background-color: #f9fafb;
    border: 1px solid #eaecf0;
}

@media screen and (min-width: 1440px) {
    .cost_value {
        background-color: #fff;
        padding: 10px 35px;
    }
}

.link_base_model {
    border-radius: 50px;
    padding: 4px 10px 4px 20px;
    background-color: #bafc50;
    display: flex;
    align-items: center;
    width: 250px;
}

@media screen and (min-width: 1440px) {
    .link_base_model {
        padding: 7.5px 10px 7.5px 20px;
        flex: 1;
        width: auto;
    }
}

.link_base_model:first-child {
    font-weight: 500;
    color: #000;
}

.arrow_wrapper {
    display: inline-block;
    border-radius: 50px;
    padding: 10px;
    width: 40px;
    height: 40px;
    background-color: #101828;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_arrow_link {
    fill: #fff;
    width: 20px;
    height: 21px;
}

@media screen and (min-width: 1440px) {

    .icon_arrow_next,
    .icon_arrow_prev {
        width: 24px;
        height: 24px;
        stroke: inherit;
    }

    .swiper_button_prev,
    .swiper_button_next {
        position: absolute;
        width: 44px;
        height: 44px;
        padding: 10px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 1;
    }

    .swiper_button_prev {
        background-color: transparent;
        border: 1px solid #fff;
        stroke: #fff;
        cursor: auto;
    }

    .swiper_button_next {
        stroke: #121212;
        background-color: #fff;
    }


    .custom_swiper_prev {
        left: 64px;
        top: 50%;
        transform: translateY(-50%);

    }

    .custom_swiper_next {
        right: 64px;
        top: 50%;
        transform: translateY(-50%);
    }

    .pagination {
        position: absolute;
        bottom: 82px;
        left: 530px;
        z-index: 1;
    }

    .text_under_swiper {
        margin-bottom: 34px;
    }

    .link_to_cistomize_drone {
        border: 1px solid #bafc50;
        border-radius: 50px;
        padding: 16px 10px 16px 20px;
        font-weight: 500;
        font-size: 16px;
        color: #000;
        display: block;
        text-align: center;
        margin: 0 auto;
        max-width: 250px;
    }
}
