.container {
    padding: 64px 15px;

}

.reviewBlock {
    box-sizing: border-box;
    max-width: 1336px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 30px;
    border-radius: 31px;
    margin: 0 auto;
    letter-spacing: 0%;
    gap: 32px;
    background: linear-gradient(180.00deg, rgb(249, 250, 251), rgb(222, 236, 221) 101.971%);
    flex-direction: column;
}

.rewiews {
    color: rgb(71, 84, 103);
    font-family: "Gilroy", sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    font-weight: 500;
}

.title {
    margin-top: 12px;
    color: rgb(16, 24, 40);
    font-family: "Gilroy-Medium", sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    max-width: 333px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.navigationButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
}

.button {
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: rgb(245, 245, 245);
    margin-right: 3px;
}

.reviewCounter {
    margin-right: 25px;
    color: rgb(0, 0, 0);
    font-family: "Gilroy-Medium" sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 0px;
    text-align: left;
    text-transform: capitalize;
}

.reviewCounter:first-letter {
    font-size: 22px;
}

.activeButton {
    background: rgb(186, 252, 80);
}

.reviewContent {
    max-width: 871px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 19px;
    background: rgb(255, 255, 255);
    padding: 30px 15px 30px 15px;
    flex-direction: column;
}

.reviewText {
    order: 2;
}

.author {
    color: rgb(16, 24, 40);
    font-family: "Gilroy", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: left;
}

.reviewBody {
    color: rgb(71, 84, 103);
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
    text-align: left;
    font-size: 16px;
    line-height: 19px;
    margin: 24px 0px 0px 0px;
    height: auto;
}

.location {
    color: rgb(102, 112, 133);
    font-family: "Gilroy", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    margin-top: 5px;
}

.videoPlayer {
    max-width: 496px;
    border-radius: 13px;
    text-align: center;
    height: 234px;
    order: 1;
}

.video {
    border-radius: 13px;
    max-width: 100%;
    object-fit: cover;
    height: 234px;
}

@media screen and (min-width:846px) {
    .container {
        padding: 96px 52px 96px 52px;
    }

    .reviewBlock {
        gap: 75px;
        background: linear-gradient(90.00deg, rgb(249, 250, 251), rgb(222, 236, 221) 100%);
        flex-direction: row;
    }

    .rewiews {
        font-weight: 500;
        text-align: left;
    }

    .title {
        max-width: 323px;
        font-size: 64px;
        line-height: 78px;
        text-align: left;
    }

    .navigationButtons {
        padding-top: 153px;
        justify-content: flex-start;
    }

    .reviewContent {
        padding: 30px 10px 30px 35px;
        flex-direction: row-reverse;
    }

    .reviewBody {

        font-size: 20px;
        line-height: 23px;
        margin: 24px 0px 70px 0px;
        width: 100%;
    }

    .videoPlayer {
        height: auto;
    }

    .video {
        height: 429px;
    }

    .reviewText {
        max-width: 298px;
    }

    .location {
        margin-top: 0px;
    }
}