.reviewsSection {
    padding-bottom: 64px;

    @media screen and (min-width:768px) {
        padding-bottom: 80px;
    }

    @media screen and (min-width:1440px) {
        padding-bottom: 96px;

    }

}

.reviewBlock {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 30px;
    border-radius: 31px;
    margin: 0 auto;
    gap: 32px;
    background: linear-gradient(180.00deg, rgb(249, 250, 251), rgb(222, 236, 221) 101.971%);
    flex-direction: column;
}

.rewiews {
    color: rgb(71, 84, 103);
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    font-weight: 500;

}

.title {
    margin-top: 12px;
    color: rgb(16, 24, 40);
    font-weight: 400;
    text-transform: capitalize;

    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.navigationButtons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigationButtons.desktop {
    position: absolute;
    bottom: 75px;
    left: 30px;
}

.button {
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #f5f5f5;
    margin-right: 3px;

}

.button svg {
    stroke: #C5C7CB;
}

.reviewCounter {
    margin-right: 25px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    line-height: 0px;
    text-transform: capitalize;
}

.reviewCounter:first-letter {
    font-size: 22px;
}

.activeButton {
    background: rgb(186, 252, 80);
}

.activeButton svg {
    stroke: #101828
}

.reviewContent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 19px;
    background: rgb(255, 255, 255);
    padding: 30px 15px 30px 15px;
    flex-direction: column;
}

.reviewText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    order: 2;
    row-gap: 25px;
}

.author {
    color: rgb(16, 24, 40);
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
}

.reviewBody {
    color: rgb(71, 84, 103);
    line-height: 19px;
    margin: 24px 0px 0px 0px;
    margin-bottom: 25px;
}

.videoPlayer {
    max-width: 496px;
    width: 100%;
    border-radius: 13px;
    text-align: center;
    order: 1;
    align-self: center;
    position: relative;
}

.video {
    border-radius: 13px;
    min-height: 234px;
    object-fit: cover;
}

.droneName {
    position: absolute;
    top: 16px;
    right: 18px;
    padding: 2px 8px 2px 8px;
    border-radius: 16px;
    background-color: #BAFC50;
    font-size: 12px;
    font-weight: 500;
}

.location,
.date {
    color: #667085;
    line-height: 19px;
}

.date {
    margin-top: 10px;
}

@media screen and (min-width:1200px) and (max-width: 1439px) {
    .reviewContent {
        flex-direction: row;
        align-items: flex-start;
    }

    .videoPlayer {
        order: 2;
    }

    .reviewBody {
        max-width: 600px;
    }

    .video {
        height: 329px;
    }

    .reviewContent {
        height: 400px;
    }

    .reviewBody {
        margin-bottom: 0;
    }
}


@media screen and (min-width:768px) {
    .reviewBody {
        font-size: 18px;
        line-height: 23px;
        margin-top: 24px;
        width: 100%;
    }

    .title {
        font-size: 48px;
    }

    .videoPlayer {
        height: auto;
        position: relative;
    }


}


@media screen and (min-width:1440px) {

    .reviewBlock {
        gap: 75px;
        background: linear-gradient(90.00deg, rgb(249, 250, 251), rgb(222, 236, 221) 100%);
        flex-direction: row;
        align-items: start;
    }

    .rewiews {
        font-weight: 500;
        text-align: left;
        padding-top: 25px;
    }

    .title {
        width: 100%;
        font-size: 64px;
        line-height: 78px;
        text-align: left;
        max-width: 333px;
    }

    .navigationButtons {
        justify-content: flex-start;
        margin-top: auto;
    }

    .reviewContent {
        padding: 30px 10px 30px 35px;
        flex-direction: row-reverse;
        align-items: start;
        height: 500px;

    }

    .reviewBody {
        font-size: 20px;

    }

    .video {
        height: 429px;
    }

    .reviewText {
        max-width: 298px;
    }

}
