.container {
  padding: 0 32px;

  @media screen and (min-width: 1440px) {
    margin: 0 auto;
    max-width: 1440px;
  }
}
@media screen and (max-width: 1065px) {
  .container {
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 16px;
  }
<<<<<<< HEAD
<<<<<<< HEAD
}
=======
}
>>>>>>> 611a291 (mobile version of catalog-page)
=======
}
>>>>>>> 611a291 (mobile version of catalog-page)
