.container {
  padding: 0 16px;
  margin-top: 83px;

  @media screen and (min-width: 768px) {
    margin-left: auto;
    margin-right: auto;
    padding: 0 32px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1440px;
    padding: 0 52px;
  }



  @media screen and (max-width:1200px) and (min-width:769px) {
    margin-top: 131px;
  }

  @media screen and (max-width:768px) {
    margin-top: 72px;
  }
}
