.section_how_it_works {
    padding: 64px 0 64px 16px;

    @media screen and (min-width:768px) {
        padding: 80px 32px;
    }

    @media screen and (min-width:1440px) {
        padding: 96px 52px;
    }
}

.steps_list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px
}

.section_title {
    font-weight: 500;
    font-size: 30px;
    text-transform: capitalize;
    color: #101828;
    text-align: center;
    margin-bottom: 48px;

    @media screen and (min-width:768px) {
        font-size: 48px;
    }

    @media screen and (min-width:1440px) {
        font-size: 64px;
        margin-bottom: 64px;
    }
}

.step_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 310px;
    margin: 0 auto;
}

.number_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.number_line {
    position: relative;
    width: 100%;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #f9fafb;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #101828;
    position: relative;
}

.number_line::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: calc(50% - 1px);
    left: 0;
    right: 0;
    width: calc(4 * 100vw);
    height: 1px;
    background-color: #f9fafb;
    z-index: -1;
}

@media screen and (min-width:1440px) {
    .number_line::before {
        width: 1336px;
    }
}

.step {
    border: 1px solid #eaecf0;
    border-radius: 20px;
    padding: 30px 20px;
    height: 330px;
}

.step_title {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.38889;
    color: #101828;
}

.step_text {
    line-height: 1.5;
    color: #475467;
}

.swiper_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide {
    max-width: 310px;
    width: 100%;

    @media screen and (max-width:374px) {
        max-width: 288px;
    }
}

.padding_wrapper {
    padding: 4px;
    margin-bottom: 20px;
}

.icon_step_wrapper {
    border-radius: 50%;
    border: 5px solid #fafafa;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_step {
    width: 20px;
    height: 20px;
}
