.backdrop {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(28, 28, 28, 0.48);
    z-index: 999;
    backdrop-filter: blur(16px)
}

.modal {
    position: relative;
    background-color: #ffffff;
    padding: 24px;
    overflow-y: auto;

    border-radius: 10px;


}

.btn_close {
    position: absolute;
    padding: 0;
    top: 28px;
    right: 12px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.icon_close {
    width: 24px;
    height: 24px;
    stroke: #000000;
}

.modal.medium {
    max-width: 343px;
    width: 100%;

    @media screen and (min-width: 768px) {
        max-width: 426px;
    }
}

.modal.large {
    max-width: 280px;
    width: 100%;

    @media screen and (min-width: 768px) {
        max-width: 704px;
    }

    @media screen and (min-width: 1440px) {
        max-width: 900px;
    }
}
