.drone_title_wrapper {
    margin-bottom: 20px;
}

.drone_title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
    color: #101828;
    text-align: center;


    @media screen and (min-width: 768px) {
        font-size: 28px;
    }

    @media screen and (min-width: 1440px) {
        font-size: 32px;
    }

}

.equipment {
    font-weight: 400;
    font-size: 14px;
    color: #101828;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .equipment {
        font-size: 14px;
    }
}

.drone_title_wrapper_bigscreen {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    top: 10%
}
