.title {
    font-size: 48px;
    line-height: 58.22px;
    margin: 30px 0 18px;
}

.comparison_swiper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide {
    max-width: 293px;
    width: 100%;
}

.slide:last-child {
    margin-right: 16px;
}


.comparison_data_title {
    font-size: 18px;
    line-height: 22.05px;
    color: #101828;
    padding: 10px 0;
    margin-bottom: 10px;
    font-weight: 600;
}

.comparison_data_list {
    width: 100%;
    background: #F5F5F5;
    display: flex;
    gap: 32px;


}

.comparison_data_list>li {
    color: #475467;
    flex: 1;
    padding: 15px 5px;
}

.comparison_data_wrapper {
    padding: 64px 0 96px;
}
