.footer {
    margin: 0 auto;
    background-color: #f9fafb;
    border-radius: 50px 50px 0 0;
    display: flex;
    flex-direction: column;
    padding: 48px 16px 40px;

    @media screen and (min-width:768px) {
        padding: 98px 32px 48px;
    }

    @media screen and (min-width:1440px) {
        padding: 98px 52px 48px;
    }
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    @media screen and (min-width:1440px) {
        max-width: 1107px;
    }

}

.footer_logo {
    width: 100%;
    fill: #101828;
    margin-bottom: 48px;

    @media screen and (min-width:1440px) {
        max-width: 1107px;
        height: 301px;
        margin-bottom: 90px;
    }
}

.footer_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 48px;
    gap: 32px;

    @media screen and (min-width:1440px) {
        margin-bottom: 64px;
    }
}

.link {
    transition: color 0.4s ease-in-out;
}

.link:hover,
.link:focus {
    color: #101828;
}


.footer_nav>div {
    width: 134px;
}

.footer_title {
    margin-bottom: 16px;
    color: #101828;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.57143;
}

.list_links {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.57143;
    color: #475467;
}

div.social_links {
    width: 152px;
}

.social_links_list {
    display: flex;
    gap: 16px;

    @media screen and (min-width:1440px) {
        flex-direction: column;
        align-items: flex-end;
    }
}

.social_links_list>li {
    padding: 5px;
}

.icon_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    width: 30px;
    height: 30px;
    fill: #667085;
    stroke: #667085;
    transition: fill 0.4s ease-in-out, stroke 0.4s ease-in-out;
}

.icon_wrapper:focus,
.icon_wrapper:hover {
    fill: #101828;
    stroke: #101828;
}

.social_icon {
    width: 20px;
    height: 20px;
    fill: inherit;
    stroke: inherit;
}

.footer_info {
    margin-top: 40px;
    position: relative;

    @media screen and (min-width:1440px) {
        margin-top: 0;
    }
}

.footer_info::before {
    content: "";
    display: block;
    width: 100%;
    border-top: 1px solid #eaecf0;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}

@media screen and (min-width:1440px) {
    .footer_info::before {
        width: 1107px;
    }
}

.footer_info_wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 24px 0 0;
    justify-content: space-between;
    margin: 0 auto;
    align-items: flex-end;
    gap: 14.5px;

    @media screen and (min-width:1440px) {
        max-width: 1107px;
    }
}

.copyright {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 12px;
    color: #667085;
}

.payment_list {
    display: flex;
    gap: 5px;
}

.payment_list svg {
    fill: #98a2b3;
}

.payment_list>li {
    width: 34px;
    height: 24px;
    box-shadow: 0 0 0 1px #f2f4f7;
    border-radius: 4px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_applepay {
    width: 24px;
    height: 10px;
}

.icon_mastercard {
    width: 22px;
    height: 13px;
}

.icon_visa {
    width: 24px;
    height: 8px;
}

.privacy_policy {
    font-weight: 500;
    font-size: 11px;
    color: #667085;
    text-align: right;
}
